
.woocommerce div.product form.cart .quantity + button,
ul.products li.product form.cart a,
.vc_btn3-container a{
    border:2px solid  #622501 !important;
    background: #622501 !important;
    color: #fff !important;
    padding: 0 35px !important;
    font-size: 24px !important;
    color: #fff !important;
    line-height: 46px !important;
    margin: 0 !important;
    font-family: 'Museo' !important;
    font-weight: 300 !important;
    text-transform: uppercase !important;
    border-radius: 0;
}
.woocommerce div.product form.cart .quantity + button:hover,
ul.products li.product form.cart a:hover,
.vc_btn3-container a:hover{
    background: transparent !important;
    color: #622501 !important;
}
span.woofc-item-remove .woofc-icon-icon10:before{
    color: #622501 !important;
}


ul.products li.product{
    width: calc(25% - 22.5px) !important;
    margin-right: 30px !important;
    background:#fff;
    padding: 15px !important;
    margin-bottom: 30px !important;
}
body:not(.home) ul.products li.product{
    background: #fafafa;
    margin-top: 30px !important;
}


ul.products li.product{
    margin-bottom: 0 !important;
}
ul.products li.product.last{
    margin-right: 0 !important;
}
ul.products li.product img{
    border:1px solid #ebebeb !important;
}
ul.products li.product h2{
    font-size: 18px !important;
    color: #616063 !important;
    text-transform: uppercase !important;
    font-family: 'Museo' !important;
    line-height: 22px !important;
    width: 100% !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 300 !important;
}
.woocommerce div.product p.price, .woocommerce div.product span.price,
ul.products li.product span.price{
    font-size: 26px !important;
    font-weight: 500 !important;
    color: #616063 !important;
    text-transform: uppercase !important;
    font-family: 'Museo' !important;
    line-height: 30px !important;
    margin: 5px 0 !important;
    padding: 0 !important;
    width: 100% !important;
    text-align: center !important;
}
.woocommerce div.product p.price *, .woocommerce div.product span.price *,
ul.products li.product span.price *{
    display: inline-block;
    float: none;
    font-family: 'Museo' !important;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
    text-align: left !important;
    font-size: 42px !important;
    line-height: 50px !important;
    font-weight: 500 !important;
}

.woocommerce table.shop_table .quantity,
.woocommerce div.product form.cart .quantity,
ul.products li.product form.cart .quantity{
    width: 120px;
    float: left;
    margin:0 calc(50% - 60px);
    position: relative;
}

.woocommerce div.product .summary form.cart div.quantity{
    margin: 30px calc(100% - 120px) 20px 0 !important;
}
.woocommerce table.shop_table .quantity{
    margin: 0;
}


.woocommerce table.shop_table .quantity input,
.woocommerce div.product form.cart input,
ul.products li.product form.cart input{
    width: calc(100% - 60px);
    height: 30px;
    padding: 0 10px;
    background: #fff;
    float: left;
    border:1px solid #ebebeb;
    border-radius: 0;
    margin: 0 30px;
}
.woocommerce table.shop_table .quantity button.buttonqt,
.woocommerce div.product form.cart button.buttonqt,
ul.products li.product form.cart button.buttonqt{
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border:1px solid #999999;
    border-radius: 0;
    right: 0;
    background: #999999;
    padding: 0;
    color: #fff;
    cursor: pointer;
}
.woocommerce table.shop_table .quantity button.dec,
.woocommerce div.product form.cart button.dec,
ul.products li.product form.cart button.dec{
    left: 0;
    right: auto;
}
.woocommerce table.shop_table .quantity button:hover,
.woocommerce div.product form.cart button:hover,
ul.products li.product form.cart button:hover{
    background:transparent;
    color: #999;
}
ul.products li.product form.cart{
    text-align: center;
    margin-top: 5px;
    float: left;
    width: 100%;
    margin: 0;
}
ul.products li.product form.cart a{
    height: 40px;
    border-radius: 0;
    padding: 0 15px !important;
    line-height: 40px;
    height: 40px !important;
    font-size: 12px !important;
    line-height: 36px !important;
    margin: 10px 0 0 0 !important;
    float: none !important;
    display: inline-block;
}
ul.products li.product form.cart a i:before{
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
}
ul.products li.product form.cart a:hover i:before{
    color: #622501;
}
ul.products li.product form.cart a.added_to_cart {
    display: none !important;
}

section.miolo-woocommerce{
	padding: 40px 0;
}

section.miolo-woocommerce .woocommerce-ordering select{
	height: 40px;
	border:1px solid #ebebeb;
	padding: 0 15px;
	border-radius: 0;
}

section.miolo-woocommerce .woocommerce-result-count {
    line-height: 40px;
    font-size: 14px;
    color: #666;
    margin: 0;
}
section.miolo-woocommerce  .product_meta{
	display: none;
}

.woocommerce nav.woocommerce-pagination ul{
	margin:35px 0 0 !important;
	padding: 0;
	border:0;
}
.woocommerce nav.woocommerce-pagination ul li{
	border:0;
	margin: 0 5px;
}


.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span{
	border:0;
	padding: 0;
	height: 40px;
	line-height: 40px;
    font-family: 'Museo';
    font-size: 16px;
    color: #333;
    width: 40px;
    text-align: center;

}



.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current{
	background: #999 !important;
	color: #fff !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button, 
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button, 
.woocommerce-page .woocommerce-message .button {
    font-family: 'Museo';
    font-weight: 300;
    text-transform: uppercase;
    background: #999;
    color: #fff !important;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    line-height: 36px;
    padding: 0 30px !important;
    border: 2px solid #999;
}


.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
.woocommerce .woocommerce-error .button:hover, 
.woocommerce .woocommerce-info .button:hover, 
.woocommerce .woocommerce-message .button:hover, 
.woocommerce-page .woocommerce-error .button:hover,
.woocommerce-page .woocommerce-info .button:hover, 
.woocommerce-page .woocommerce-message .button:hover{
	background: #fff !important;
	color: #666 !important;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text{
	border-radius: 0;
	background: #f0f0f0;
	height: 40px;
	border:0;
	line-height: 40px;
	padding: 0 10px;
	font-size: 14px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{

    background: #622501 !important;
    border-color:#622501 !important;
    height: 50px !important;
    line-height: 46px !important;
    font-size: 20px !important;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background: transparent !important;
	color:#622501 !important;
}

.woocommerce table.shop_table {
    border-radius: 0;
}
.woocommerce table.shop_table th{
    font-family: 'Museo';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    color: #666;
    background: #f0f0f0;
}
.woocommerce table.shop_table a{
	color: inherit;
	font-weight: 500;
	text-decoration: none;
}
p#billing_city_field, p#billing_state_field,
p#billing_cpf_field,
p#billing_postcode_field,
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: calc(50% - 5px);
    padding: 0;
}
p#billing_city_field, 
p#billing_cpf_field{
	float: left;
}
p#billing_state_field,
p#billing_postcode_field{
	float: right;
	clear: none;
}
p#billing_address_1_field {
    float: left;
    width: calc(100% - 130px);
}
p#billing_number_field{
	width: 120px;
	float: right;
}
p#billing_address_2_field {
    width: 100%;
    float: left;
}
p#billing_neighborhood_field,
p#billing_country_field{
	display: none !important;
}
.select2-container--default .select2-selection--single {
    height: 40px;
    border-radius: 0;
    background: #f0f0f0;
    border: 0;
    line-height: 40px;
}
.woocommerce form .form-row .select2-container {
    float: left;
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    padding-left: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    margin-right: 5px;
}
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details,
table.shop_table.woocommerce-checkout-review-order-table {
    border-collapse: collapse;
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 20px;
}




.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border-radius: 0;
    height: 40px;
    border: 0;
    background: #f0f0f0;
    padding: 0 10px;
    line-height: 40px;
}
.woocommerce form .form-row textarea{
	height: 300px;
	padding: 10px;
	line-height: 20px !important;
}




