/*!
Theme Name: wsb
Theme URI: http://jucamillo.com.br/
Author: JuCamillo Web Co
Author URI: http://jucamillo.com.br/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wsb
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

wsb is based on JuCamillo

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1280px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}

.vc_section{
	margin: 0 !important;
	padding: 0 !important;
}
.vc_section > .vc_row,
.container{
    width: 100% !important;
    max-width: 1600px !important;
    margin: 0 auto !important;
}
body{
    margin: 0;
    font-family:  'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #2A437A;
}
a{
    color: inherit;
    text-decoration: none;
}

input, button, select, textarea{
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    font-family:  'Montserrat', sans-serif;	
}
/*
#2A437A
#6E7379
#ffffff
#111111
#959799
#CCCFD7
*/
ul,
ol,
li{
	margin: 0;
	padding: 0;
}
*{
    margin: 0;
    padding: 0;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
	margin: 0 !important;
}
.full{
    width: 100%;
    float: left;
}
.full.space{
    height: calc(50vh - 158px);
}
.full.space2{
    height: 30vh;
}
.full.space3{
    height: 30vh;
}
.w1{
    width: 1px;
    float: right;

}

section,
footer,
header{
    float: left;
    width: 100%;
}
.vc_section{
    padding: 50px 0 !important;
}
header{
    padding: 0px 0px 0 30px;
    border-bottom: 1px solid #2A437A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    width: calc(100% - 75px);
}

body.post-type-archive-area header.scroll,
header.scroll{
    background: rgba(255,255,255,.8);
}
header .right{
    position: absolute;
    right: -75px;
    width: 75px;
    min-height: 315px;
    border-left:  1px solid #2A437A;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    top: 0;

    /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
}
body.post-type-archive-area header.scroll .right,
header.scroll .right{
    background: rgba(255,255,255,.6);
}
header .container{
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    max-width: 100% !important;
    align-items: center;
}
header .branding a{
    display: flex;
}
header .branding{
    display: flex;

    /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
}
header .right ul.menu{
    list-style: none;
    display: flex;
    flex-flow: row;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #2A437A;
    width: 60px;
    height: 75px;
    transform: rotate(-90deg);
    padding: 28px 0;
    margin:25px 0 20px 0;
}
#contato a,
footer ul li a,
header .right a{
    /* Firefox */
    -moz-transition: all .4s ease;
    /* WebKit */
    -webkit-transition: all .4s ease;
    /* Opera */
    -o-transition: all .4s ease;
    /* Standard */
    transition: all .4s ease;
}
#contato a:hover,
footer ul li a:hover,
header .right a:hover{
    opacity: .6;
}

header nav.main-navigation ul{
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #2A437A;
}
header nav.main-navigation ul li a{
    width: 200px;
    border-left: 1px solid #2A437A;
    padding: 74px 16px 16px;
    float: left;
    display: flex;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
header nav.main-navigation ul li a:hover{
    opacity: .4;
}
header.scroll nav.main-navigation ul li a{
    padding-top: 16px;
}
header nav.main-navigation .menu-toggle{
	display: none;
}
header .right ul.redes_sociais {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .right ul.redes_sociais li{
    margin-bottom: 10px;    
}
header.scroll nav.main-navigation ul li a{
    padding-top: 16px;
}
header.scroll .branding{
    margin:-120px 0 0 0;
}
header.scroll .right{
    top: -100px;
}
h1{
    font-weight: 600;
    font-size: 103px;
    line-height: 108.9%;
    letter-spacing: -0.04em;
    color: #2A437A;
    margin: 0;
}
h2{
    font-weight: 600;
    font-size: 47px;
    line-height: 117.9%;
    letter-spacing: -0.04em;
    color: #2A437A;
}













body.home .anima-back{
    width: 100%;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 1000px;
    max-width: 100vw;
    overflow-x: hidden;
}
body.home .anima-back.leave{
    min-height: 1250px;
    position: absolute;
    top: 200vh;
}

body.home .anima-back span{
    position: absolute;
    height: 1px;
    background: #CCCFD7;
}
body.home .anima-back .sq{
    height: 680px;
    width: 680px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
}
body.home .anima-back .ltop,
body.home .anima-back .lbottom{
    width: 1360px;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 0;
    transform: translateX(-50%);
}


body.home .anima-back .hortop{
    position: absolute;
    height: 816px;
    top: 50%;
    right: -100%;
    width: 100%;
    transform: translateY(-50%);
}

body.home .anima-back .hortop span{
    width: 100%;
    top: 0;
}
body.home .anima-back .hortop span:nth-child(2){
    top: 340px;
}

body.home .anima-back .ltop{
    bottom: auto;
    top: 0;
}
body.home .anima-back .line1{
    top: 0;
    right: 0;
    width: 100%;

}
body.home .anima-back .line2{
    bottom: 0;
    right: 0;
    width: 100%;
}

body.home .anima-back .ltop span,
body.home .anima-back .lbottom span,
body.home .anima-back .line3{
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}
body.home .anima-back .line4{
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
}
body.home .anima-back .lbottom span:nth-child(2){
    left: 544px;
}
body.home .anima-back .lbottom span:nth-child(3){
    left: 680px;
}
body.home .anima-back .ltop span{
    left: auto;
    right: 0;
}
body.home .anima-back .ltop span:nth-child(2){
    right: 136px;
}
body.home .anima-back .ltop span:nth-child(3){
    right: 475px;
}
body.home .anima-back .tr_left{
    width: calc(50% - 44px);
    left: 0;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}
body.home .anima-back .tr_left.rt{
    left: auto;
    right: -100vh;
    top: -100vh;
}
body.home .anima-back .tr_left.rt#t8{
    top: 100vh;
    right: 100vh;
}

body.home .anima-back .tr_left#t1{
    top: -100vh;
    left: 100vh;

}
body.home .anima-back .tr_left span{
    transform: rotate(-45deg);
    width: 1500px;
}

body.home .anima-back .tr_right .img,
body.home .anima-back .tr_left .img{
    right: 0;
    top: 0;
    position: absolute;
    width: 1000px;
}
body.home .anima-back .tr_left .img:nth-child(2) {
    right: 542px;
}
body.home .anima-back .tr_left.t2 .img{
    right: 406px;
}
body.home .anima-back .tr_left.t2{
    left: -100vh;
    top: 100vh;
}
body.home .anima-back .tr_left.rt{

}
body.home .anima-back .tr_left.rt .img{
    left: 0;
    right: auto;
}
body.home .anima-back .tr_left.rt .img:nth-child(2){
    left: 271px;
}

body.home .anima-back .tr_left.rt#t8 .img{
    left: 135px;
}


body.home .anima-back .tr_right{
    width: calc(50% + 90px);
    right: 100vh;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: -100vh;
}
body.home .anima-back .tr_right.t4{
    right: -100vh;
    top: 100vh;
}

body.home .anima-back .tr_right .img{
    right: auto;
    left: 0;
}
body.home .anima-back .tr_right .img:nth-child(2){
    left: 272px;
}
body.home .anima-back .tr_right .img:nth-child(3){
    left: 543px;
}
body.home .anima-back .tr_right.t4 .img{
    left: 407px;
}
body.home .anima-back .tr_right.t5{
    width: calc(50% + 230px);
    right: auto;
    left: 100vh;
    top: 100vh;
}
body.home .anima-back .tr_right.t6{
    width: calc(50% + 368px);
    right: auto;
    top: -100vh;
    left: -100vh;

}



body.home .anima-back .tr_right.t6 .img,
body.home .anima-back .tr_right.t5 .img{
    right: 0;
    top: 0;
    left: auto;
}
body.home .anima-back .tr_right.t6 .img:nth-child(2),
body.home .anima-back .tr_right.t5 .img:nth-child(2){
    right: 272px;
}

body.home .anima-back .map{
    width: 100%;
    height: 100vh;
    min-height: 1250px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

body.home .anima-back .map .img{
    width: 1362px;
    height: 1250px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


/*
@media (min-width: 2060px){
    body.home .anima-back .map .img{
        width: 1570px;
        height: 1440px;
    }
    body.home .anima-back .tr_right .img,
    body.home .anima-back .tr_left .img{
        width: 1440px;
    }
}
*/












.wrap-bt{

}
.btn_large{
    width: 110px;
    height: 110px ;
    display: flex;
    align-items: flex-end;
    text-align: left ;
    justify-content: flex-start ;
    border: 0 ;
    font-weight: 600 ;
    font-size: 14px ;
    line-height: 17px ;
    letter-spacing: 0.03em ;
    color: #FFFFFF ;
    background: #2A437A ;
    padding: 70px 0 4px 3px ;
    text-transform: uppercase ;
    position: relative ;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.btn_large span {
    width: 100%;
}
.btn_large:hover {
    width: 195px ;
    padding: 4px 0 70px 3px;
}

.btn_large svg,
.btn_large img{
    position: absolute !important;
    right: 8px;
    top: 9px;
}
.btn_large svg *{
    fill: #fff;
}
#conteudo4 .btn_large,
#conteudo3 .btn_large{
    margin: 64px 0 0 0;
}
#home .wrapbtn {
    margin-top: 320px;
}
#home .container{
    margin-top: 80px !important;
}
section.vc_section#home {
    position: relative;
    padding-top: 50px !important;
    padding-bottom: 0 !important;
    height: 100vh;
}
.wrapbtn{
    float: left;
    width: 100%;
}
body.home section.vc_section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
body.home section.vc_section#conteudo3{
    padding-top: 158px !important;
    align-items: inherit;
}
.just-end{
    justify-content: flex-end;
}
body.home section.vc_section#conteudo3 > .container > *{
    height: 100%;
    display: flex;
    flex-flow: column;
}





body.home .txt{
    width: 65%;
    margin: 30px 0 0 0;
    float: left;
}
ul.blog-list{
    list-style: none;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}
ul.blog-list li{
    margin: 0 0 42px;
}
ul.conteudos{
    list-style: none;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    width: calc(100% - 1px);
    float: left;
}
ul.conteudos li{
    width: 80%;
    float: left;
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 124px;
    margin-left: 20%;
}

ul.conteudos li:nth-child(even){
    margin-left: 0;
}
ul.conteudos li a.img{
    width: 100%;
    float: left;
    padding-top: 60%;
    background-size: cover;
    background-position: center;
    position: relative;
}

body.home ul.conteudos li a.img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
ul.conteudos li .info{
    width: 520px;
    bottom: 0px;
    position: absolute;
    left: 0;
    color: #fff;
    background: #2A437A;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
ul.conteudos li .info h2{
    color: #fff;
}
ul.conteudos li:hover .info{
    transform: translateY(-12px);
}

body.home section.vc_section#conteudo4{
    padding-top: 480px !important;
}

body.home section.vc_section#conteudo4 .file{
    
    width: 1108px;
    height: 623px;
    position: absolute;
    right: -42vw;
    top: -40px;
    z-index: -1;
}
body.home section.vc_section#conteudo4 .file.f2{
    width: 318px;
    height: 311px;
        top: 640px;
    right: auto;
    left: 64vw;
}
footer{
    padding-top: 100px;
}
footer h3{
    font-weight: normal;
    font-size: 18px;
    color: #6E7379;
    margin: 0px 0 16px;
    text-transform: uppercase;
}
footer .row{
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    float: left;
    display: flex;
    justify-content: space-between;
}

.page-contato .vc_section ul svg *,
footer ul svg *{
    fill: #CCCFD7;
}

.page-contato .vc_section ul,
footer ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #2A437A;
}
.page-contato .vc_section ul li,
footer ul li{
    margin: 0 0 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.page-contato .vc_section ul li a,
footer ul li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.page-contato .vc_section ul li span,
footer ul li span{
    margin-left: 5px;
}
footer .blue-bg{
    margin-top: -100px;
    background: #2A437A;
    display: flex;
    height: calc(100% + 100px);
    flex-flow: column;
    padding: 45px 0 100px;
}
footer .blue-bg h2{
    color: #fff;
}
footer .blue-bg .wpcf7 {
    width: calc(100% - 50px);
    margin: 50px 0 0 50px;
}
.wpcf7 form > p {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: wrap;
}
.wpcf7 form > p span.wpcf7-form-control-wrap {
    width: calc(100% - 170px);
}
.wpcf7 form input.wpcf7-form-control.wpcf7-submit {
    width: 170px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 55px;
    border-radius: 0;
    padding: 0;
    text-align: center;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #2A437A;
    text-transform: uppercase;
    cursor: pointer;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.wpcf7 form input.wpcf7-form-control.wpcf7-submit:hover{
    background: transparent;
    color: #fff;
}
.wpcf7 form span.wpcf7-form-control-wrap.assunto,
.wpcf7 form span.wpcf7-form-control-wrap.posicao,
.wpcf7 form span.wpcf7-form-control-wrap select,
.wpcf7 form span.wpcf7-form-control-wrap textarea,
.wpcf7 form span.wpcf7-form-control-wrap input {
    width: 100%;
    float: left;
    height: 55px;
    border: 1px solid #fff;
    border-radius: 0;
    background: transparent;
    color: #fff;
    padding: 0 0 0 15px;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.03em;
}
.wpcf7 form span.wpcf7-form-control-wrap input::-webkit-input-placeholder { 
    color: #fff;
}
.wpcf7 form span.wpcf7-form-control-wrap input::-moz-placeholder { 
    color: #fff;
}
.wpcf7 form span.wpcf7-form-control-wrap input:-ms-input-placeholder { 
    color: #fff;
}
.wpcf7 form span.wpcf7-form-control-wrap input:-moz-placeholder { 
    color: #fff;
}
.wpcf7 form .wpcf7-response-output {
    margin: 0;
    border-right-width: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    padding: 5px 10px;
} 
.wpcf7-not-valid-tip {
    font-size: 14px;
    margin: 5px 0 0 0;
    float: left;
}
footer .copy{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #2A437A;
}
footer a.sign{
    float: right;
    overflow: hidden;
    width: 98px;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
footer a.sign:hover{
    width: 158px;
}
footer .mtop{
    margin-top: 40px;
}
footer .branding,
footer .branding a{
    display: flex;
}
footer .branding{
    margin-bottom: 30px;
}














    
body.single-area header nav.main-navigation ul li.menu-item-209 a,
header nav.main-navigation ul li.current-menu-item a,
header nav.main-navigation ul li.current_page_item a {
    padding-bottom: 12px;
    border-bottom: 4px solid ;
}

header.header_wt {
    background: transparent;
    border-color: #fff;
    padding-right: 0;
    margin-right: 75px;
    width: calc(100% - 75px);
}
header.header_wt.scroll{
    background: #2a437ad1;

}
header.header_wt nav.main-navigation ul li.current_page_item a,
header.header_wt nav.main-navigation ul li a{
    border-color: #fff;
    color: #fff;
}
header.header_wt .right{
    background: transparent;
    border-color: #fff;
    right: -75px;
}
header.header_wt .right svg *,
header.header_wt .branding svg * {
    fill: #fff;
}
header.header_wt .right ul.menu{
    color: #fff;
}
#jeito1{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 120px !important;
    overflow: hidden;
}
#jeito5{
    background-size: cover;
    background-position: center;

}
#jeito5 h1,
#jeito4 h1,
#jeito2 h1,
#jeito1 h1{
    color: #fff;
}
#jeito5 .btn_large,
#jeito4 .btn_large,
#jeito1 .btn_large{
    background: #fff;
    color: #2A437A;
    margin-top: 50px;
}
#jeito5 .btn_large svg *,
#jeito4 .btn_large svg *,
#jeito1 .btn_large svg *{
    fill: #2A437A;

}
#jeito1 .txt{
    width: 75%;
    margin-top: 50px;
}
#jeito1 .btn_large:hover {
    padding: 4px 0 56px 3px;
}

#jeito1 .sq{
    width: 326px;
    height: 326px;
    border: 2px solid #CCCFD7;
    float: left;
    margin: 80px 0 0 250px;
}
#jeito5,
#jeito4,
#jeito3,
#jeito2{
    background-color: #2A437A;
    color: #fff;
}
#jeito2 .txt{
    margin-top: 30px;
}
#jeito3 {
    padding-bottom: 50px !important;
    padding-top: 0 !important;
    position: relative;
}
#jeito3 .bg{
    width: 100%;
}
#jeito3 ul{
    list-style: none;
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
}
#jeito3 ul li{
    position: absolute;
}
#jeito3 ul li a,
#jeito3 ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#jeito3 ul li a.pop-desc{
    cursor: pointer;
    float: left;
    padding-bottom: 8px;
}
#jeito3 ul li span{
    margin-right: 5px;
}
#jeito3 ul li .pop{
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff;
    opacity: 0;
    color: #959799;
    font-size: 12px;
    visibility: hidden;
    font-weight: normal;
    width: 200px;
    padding: 9px 10px;
    line-height: 1.4;
    border: 1px dashed #959799;
    border-radius: 0;
    /* Firefox */
    -moz-transition: all 0.6s ease;
    /* WebKit */
    -webkit-transition: all 0.6s ease;
    /* Opera */
    -o-transition: all 0.6s ease;
    /* Standard */
    transition: all 0.6s ease;
    z-index: 99;
}
#jeito3 ul li .pop a.more {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}
#jeito3 ul li:hover .pop{
    display: block;
    opacity: 1;
    visibility: visible;
}
#jeito4{
    padding: 140px 0 !important;
}
#jeito4 ul.valores{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 134.9%;
}
#jeito4 ul.valores li{
    padding: 26px 0;
    border-bottom: 2px solid #6E7379;
}
#jeito4 ul.valores li:last-child{
    border-bottom: 0;
}

#jeito5 h2{
    color: #fff;
}
.responsabilidade.r1{
    margin-top: 300px;
    margin-bottom: -252px;
}
.responsabilidade h2,
.responsabilidade{
    float: left;
    width: 100%;
}
.responsabilidade ul.conteudos{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 34px 0 0 0;
    padding: 0;
    flex-flow: wrap;
}
.responsabilidade ul.conteudos li{
    width: calc(50% - 10px);
    margin: 0 0 20px;
    padding-bottom: 0;
}
.responsabilidade ul.conteudos li a.img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.conteudo-sec.mid ul.conteudos li .info ul.blog-categories,
.responsabilidade ul.conteudos li ul.blog-categories{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 24px;
    left: 0;
    width: auto;
    font-size: 15px;
    line-height: 124.9%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    background: #2A437A;
    text-transform: uppercase;
    padding: 2px 0;
    z-index: 2;
}
.conteudo-sec.mid ul.conteudos li .info ul.blog-categories li,
.responsabilidade ul.conteudos li ul.blog-categories li{
    width: auto;
    margin: 0;
}
.blog-categories a{

    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.blog-categories a:hover{
    opacity: .6;
}
.conteudo-sec.mid ul.conteudos li .info ul.blog-categories li + li:before,
.responsabilidade ul.conteudos li ul.blog-categories li + li:before{
    content: ', ';
}
.responsabilidade ul.conteudos li .info{
    width: 100%;
    background: #fff;
    position: static;
    bottom: 0;
    float: left;
}
.responsabilidade ul.conteudos li:hover .info{
    transform: translateY(-8px);
}
.responsabilidade ul.conteudos li .info span{
    font-size: 15px;
    line-height: 124.9%;
    letter-spacing: -0.04em;
    color: #6E7379;
}
.responsabilidade ul.conteudos li .info h3{
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 27px;
    line-height: 117.9%;
    letter-spacing: -0.04em;
    color: #2A437A;
    margin: 13px 0 0 0;
}
.responsabilidade h2{
    width: 40%;
}
.spacerj5{
    margin-top: 300px;
}
#jeito5 .responsabilidade .btn_large{
    margin-top: 10px;
    float: left;
}
#jeito5 .txt {
    margin: 42px 0 0 0;
    width: 65%;
}
#jeito5{
    background-attachment: fixed;
}
body.post-type-archive-area header .right,
body.post-type-archive-area header{
    background: transparent;
}

body.post-type-archive-area .vc_section{
    padding:240px 0 120px !important;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
body.post-type-archive-area .vc_section ul.areas{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}
body.post-type-archive-area .vc_section ul.areas li{
    width: 100%;
    margin:12px 0 0 0;
    font-size: 20px;
    line-height: 117.9%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #6E7379;
    float: left;
}


body.post-type-archive-area .vc_section ul.areas li a{
    padding: 8px 0px;
    float: left;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;

}

body.post-type-archive-area .vc_section ul.areas li a:hover{
    background: #2A437A;
    color: #fff;
}
section.single-area-section{
    padding: 0 !important;
    margin-top: 108px !important;
}
section.single-area-section .bg-top{
    min-height: 510px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: cover;
    background-position:center;
    padding-top: 100px;
    overflow: visible;
}
section.single-area-section .bg-top h1{
    width: 50%;
    float: left;
    margin-bottom: -19px;
    z-index: 2;
}
section.single-area-section .resumo{
    background: #CCCFD7;
    padding: 50px 0;
    font-weight: normal;
    font-size: 25px;
    line-height: 134.9%;
    color: #2A437A;
    width: calc(100% + 30px);
    margin-right: -30px;
    padding-right: 100px;
}
section.single-area-section .bg-blue{
    background: #2A437A;
    color: #fff;
    height: 100%;
    padding: 50px;
}
section.single-area-section .bg-blue ul{
    list-style: none;
    display: block;
}
section.single-area-section .bg-blue ul li{
    width: 100%;
}
section.single-area-section .container {
    display: flex;
    flex-flow: wrap;
}
section.single-area-section .info{
    width: calc(100% + 30px);
    margin-right: -30px;
    width: 100%;
    float: left;
    padding: 50px 100px 200px 0;
    font-size: 18px;
    line-height: 140%;
    color: #111111;

}
section.single-area-section .info p{
    margin: 0 0 15px;
}
section.single-area-section .info h2 {
    font-size: 28px;
    margin: 40px 0 15px;
}


section.single-area-section .bg-blue ul li{
    font-size: 20px;
    line-height: 117.9%;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 24px;
}
section.single-area-section .bg-blue ul li:hover{
    color: #959799;    
}
section.single-area-section ul.bts {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    margin: 60px 0 0 0;
}
section.single-area-section ul.bts li{
    margin-right: 30px;
}

.conteudo-sec.mid.single-content .comentarios,
.conteudo-sec.mid.single-content .relacionadas,
.conteudo-sec.mid.single-content .share,
section.single-area-section .share{
    margin-top: 60px;
}
.conteudo-sec.mid.single-content .widget h2,
.conteudo-sec.mid.single-content .comentarios h3,
.conteudo-sec.mid.single-content .relacionadas h3,
.conteudo-sec.mid.single-content .share h3,
.conteudo-sec:not(.single-content) h2,
section.single-area-section .share h3{
    font-size: 20px;
    line-height: 117.9%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #959799;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    white-space: nowrap;
    font-weight: normal;
}
.conteudo-sec.mid.single-content .widget h2:after,
.conteudo-sec.mid.single-content .comentarios h3:after,
.conteudo-sec.mid.single-content .relacionadas h3:after,
.conteudo-sec.mid.single-content .share h3:after,
.conteudo-sec:not(.single-content) h2:after,
section.single-area-section .share h3:after{
    content: '';
    height: 1px;
    width: calc(100% - 30px);
    margin-left: 30px;
    background: #959799;
}
.conteudo-sec.mid.single-content .share .share,
section.single-area-section .share .share{
    margin-top: 20px;
}
#a2a_share_save_widget-2 svg *{
    fill: #2A437A !important;
}
.page-contato .vc_section{
    background: #2A437A;
    padding-top: 220px !important;
    padding-bottom: 200px !important;
}
body > .a2a_floating_style{
    display: none !important;
}
.page-contato .vc_section h1{
    color: #fff;    
}
.page-contato .vc_section .container{
    display: flex;
    flex-flow: wrap;
}
.page-contato .vc_section  ul{
    color: #fff;        
    line-height: 140%;
}
.page-contato .vc_section  ul li,
.page-contato .vc_section  ul li a{
    align-items: flex-start;
}
.page-contato .vc_section h1{
    margin-bottom: 60px;
}

.page-contato .vc_section  ul li img,
.page-contato .vc_section  ul li svg{
    margin-top: 3px;

}
.page-contato .vc_section  ul li span{
    margin-left: 10px;
}

.page-contato .vc_section h3{
    font-size: 18px;
    line-height: 140%;
    color: #959799;
    margin: 0 0 16px;
    font-weight: normal;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

.page-contato .vc_section  ul li svg *{
    fill: #959799;
}
.vc_section .wpcf7 form p,
.vc_section .wpcf7 form span.wpcf7-form-control-wrap{
    width: 100%;
    margin-bottom: 16px;
    float: left;
}

.wpcf7 form span.wpcf7-form-control-wrap.assunto,
.wpcf7 form span.wpcf7-form-control-wrap.posicao{
    position: relative;
    background: url(images/down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 13px) center;
}
.wpcf7 form span.wpcf7-form-control-wrap.assunto .selectfield,
.wpcf7 form span.wpcf7-form-control-wrap.posicao .selectfield{
    position: absolute;
    top: 0;
    height: 53px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    left: 0;
    width: 100%;

}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap span.wpcf7-list-item {
    width: 100%;
    float: left;
    border-bottom: 1px solid #2A437A;
    margin: 0;
}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap span.wpcf7-list-item input[type="checkbox"],
.vc_section .wpcf7 form span.wpcf7-form-control-wrap span.wpcf7-list-item span.smallname {
    display: none;
}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap span.wpcf7-list-item span.wpcf7-list-item-label {
    color: #2A437A;
}

.wpcf7 form span.wpcf7-form-control-wrap.assunto .wpcf7-checkbox, 
.wpcf7 form span.wpcf7-form-control-wrap.posicao .wpcf7-checkbox {
    position: absolute;
    top: 55px;
    left: -1px;
    width: calc(100% + 2px);
    display: none;
    z-index: 9999;
}
.wpcf7 form span.wpcf7-form-control-wrap.assunto.active .wpcf7-checkbox,
.wpcf7 form span.wpcf7-form-control-wrap.posicao.active .wpcf7-checkbox{
    display: block;
}

.wpcf7 form span.wpcf7-form-control-wrap.posicao .wpcf7-checkbox label,
.wpcf7 form span.wpcf7-form-control-wrap.assunto .wpcf7-checkbox label {
    width: 100%;
    float: left;
    padding: 15px;
    background: rgba(255,255,255,1);
    color: #2A437A;
}

.wpcf7 form span.wpcf7-form-control-wrap select{
    -webkit-appearance: none;
    background: url(images/down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 13px) center;
}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap textarea::-webkit-input-placeholder ,
.vc_section .wpcf7 form span.wpcf7-form-control-wrap input::-webkit-input-placeholder { 
    color: #959799;
    color: transparent;
}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap textarea::-moz-placeholder ,
.vc_section .wpcf7 form span.wpcf7-form-control-wrap input::-moz-placeholder { 
    color: #959799;
    color: transparent;
}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap textarea:-ms-input-placeholder ,
.vc_section .wpcf7 form span.wpcf7-form-control-wrap input:-ms-input-placeholder { 
    color: #959799;
    color: transparent;
}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap textarea:-moz-placeholder,
.vc_section .wpcf7 form span.wpcf7-form-control-wrap input:-moz-placeholder { 
    color: #959799;
    color: transparent;
}
.wpcf7 form span.wpcf7-form-control-wrap textarea{
    height: 110px;
    padding-top: 12px;

}
.codedropz-upload-handler,
.vc_section .wpcf7 form div.file {
    width: 100%;
    margin-bottom: 16px;
    float: left;
    border: 1px dashed #FFFFFF;
    background: url(images/upload.svg);
    background-repeat: no-repeat;
    background-position: 16px 16px;
    display: flex;
    flex-flow: column;
    padding-left: 88px;
    padding: 18px 20px 18px 88px;
    min-height: 102px;
    align-items: center;
    cursor: pointer;
    position: relative;
    display: flex;
    border-radius: 0;
}
.codedropz-upload-handler{
    cursor: inherit;
}
.codedropz-upload-container {
    padding: 0;
    width: 100%;
    float: left;
    text-align: left;
}
.codedropz-upload-container * {
    text-align: left;
    color: #fff;
    font-size: 14px;
    text-overflow: inherit;
    white-space: inherit;
}
.codedropz-upload-inner > .codedropz-btn-wrap {
    text-decoration: underline;
}
.codedropz-upload-inner > span, .codedropz-upload-inner > .codedropz-btn-wrap {
    display: inline;
}
.page-contato .vc_section .codedropz-upload-container h3 {
    text-transform: none;
    margin: 3px 0 5px;
}
.dnd-upload-status {
    float: left;
    width: 100%;
    margin: 0 0 16px;
}

.dnd-upload-status .dnd-upload-details .name {
    color: #fff;
    font-size: 14px;
}
.dnd-upload-status .dnd-upload-details .name em {
    color: #959799;
    font-style: normal;
    font-weight: normal;
}

.dnd-upload-status .dnd-upload-image span {
    color: #959799;
}
span.dnd-icon-remove {
    color: #959799;
    font-size: 14px;
}
.dnd-upload-status .dnd-upload-details .dnd-progress-bar span {
    background: #fff;
    color: #2A437A;
}
.codedropz-upload-handler.codedropz-dragover {
    background-image: url(images/upload2.svg);
    background-color: rgba(255,255,255,.3);
}
.page-contato .vc_section .codedropz-upload-handler.codedropz-dragover .codedropz-upload-container h3,
.codedropz-upload-handler.codedropz-dragover .codedropz-upload-container *{
    color: #fff;

}
.vc_section .wpcf7 form div.file input{
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
.vc_section .wpcf7 form div.file strong{
    font-size: 18px;
    line-height: 140%;
    color: #959799;
    font-weight: normal;
    width: 100%;
    margin: 0 0 5px;

}
.vc_section .wpcf7 form div.file span.file{
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.vc_section .wpcf7 form div.file span{
    font-size: 14px;
    color: #fff;
    width: 100%;
}
.vc_section .wpcf7 form .fileteste .smallname{
    display: none;
}
.vc_section .wpcf7 form .smallname{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #959799;    font-size: 19px;
    line-height: 23px;
    padding: 15px;
    cursor: text;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.vc_section .wpcf7 form div.file .smallname{
    display: none;
}
.vc_section .wpcf7 form .smallname.on{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    padding:8px 15px 0;    
}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap textarea, 
.vc_section .wpcf7 form span.wpcf7-form-control-wrap input {
    padding-top: 12px;
    font-size: 18px;
}
.vc_section .wpcf7 form span.wpcf7-form-control-wrap textarea{
    padding-top: 22px;
}
.vc_section .wpcf7 form .sec{
    float: left;
    width: 100%;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
    display: none;
}
.vc_section .wpcf7 form .sec.active{
    display: block;
}
.vc_section .wpcf7 form .wpcf7-response-output {
    float: left;
    width: 100%;
    border-right-width: 2px;
}
.conteudo-sec.mid.single-content,
.title-top.conteudo-sec{
    margin-top: 108px;
    padding-top: 100px;
}
.title-top.conteudo-sec .container{
    display: flex;
    flex-flow: wrap;
    align-items: center;
}
form.search-form{
    height: 55px;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    border: 1px solid #2A437A;
    width: 100%;
}

.conteudo-sec.mid.single-content form.search-form{
    margin-bottom: 60px;
}
form.search-form input{
    padding: 0 0 0 15px;
    height: 53px;
    width: calc(100% - 50px);
    border:0;
    border-radius: 0;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #2A437A;
}
form.search-form button{
    border:0;
    height: 53px;
    width: 50px;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
form.search-form button:hover{
    background: #2A437A;
}
form.search-form button:hover svg *{
    fill:#fff;
}
.destaque.conteudo-sec{
    padding: 50px 0 60px;
}
.destaque.conteudo-sec .responsabilidade ul.conteudos{
    display: block;
    width: 100%;
}
.destaque.conteudo-sec .responsabilidade ul.conteudos > li {
    width: calc(25% - 10px);
    margin-right: 20px;
}
.destaque.conteudo-sec .responsabilidade ul.conteudos > li a.img{
    background-size: cover !important;
    background-position: center !important;
}

.destaque.conteudo-sec .responsabilidade ul.conteudos > li:nth-child(5),
.destaque.conteudo-sec .responsabilidade ul.conteudos > li:nth-child(3){
    margin-right: 0;
}

.destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child{
    width: calc(50% - 20px);
}
.destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child:hover a.info{
    transform: translateY(16px);
}
.destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child a.img {
    padding-top: 89%;
}
.destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child a.info {
    background: #2A437A;
    position: absolute;
    bottom: 0;
    width: 60%;
    padding-right: 5px;
}
.destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child a.info h3{
    font-size: 47px;
    line-height: 117.9%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child a.info span {
    color: #fff;
}

.conteudo-sec.mid ul.conteudos li {
    width: 100%;
    margin:30px 0 0 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
}
.conteudo-sec.mid ul.conteudos li:hover .info{
    transform: translateY(0);
}
.conteudo-sec.mid ul.conteudos li .sqimg{
    width: 60%;
}
aside#secondary {
    padding-left: 50px;
}
aside ul.conteudos li a.img,
.conteudo-sec.mid ul.conteudos li .sqimg,
.conteudo-sec.mid ul.conteudos li .sqimg *{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE */

}

.conteudo-sec.mid ul.conteudos li .info {
    width: calc(40% - 20px);
    position: static;
    bottom: auto;
    left: auto;
    margin: 0 0 0 20px;
    background: transparent;
    color: inherit;
}
.conteudo-sec.mid ul.conteudos li .info ul.blog-categories {
    position: static;
    float: left;
    width: auto;
}
.conteudo-sec.mid ul.conteudos li .info span {
    font-size: 14px;
    line-height: 17px;
    float: left;
    width: 100%;
    letter-spacing: 0.03em;
    color: #6E7379;
    margin: 13px 0 9px;
}
.conteudo-sec.mid ul.conteudos li .info h3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 117.9%;
    letter-spacing: -0.04em;
    color: #2A437A;
    float: left;
    width: 100%;
    margin: 0 0 13px;
}
.conteudo-sec.mid ul.conteudos li .info p{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #6E7379;
    float: left;
    width: 100%;
}
.conteudo-sec.mid ul.conteudos li .info a.btn{
    color: #2A437A;
    border:1px solid #2A437A;
    height: 50px;
    padding: 0 25px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    float: left;
    width: auto;
    margin-top: 13px;
    display: flex;
    align-items: center;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.conteudo-sec.mid ul.conteudos li .info a.btn:hover{
    color: #ffffff;
    background: #2A437A;

}
.alm-btn-wrap {
    float: left;
    width: 100%;
    padding: 0 !important;
    margin: 60px 0 0 0;
}
.widget{
    display: block;
    width: 100%;
}
.widget + .widget{
    margin-top: 60px;
}
.conteudo-sec.mid .widget  ul.conteudos li .info span{
    margin-top: 0;
}
.widget .responsabilidade ul.conteudos {
    margin: 0;
}
.conteudo-sec.mid .widget .responsabilidade ul.conteudos li .info{
    margin: 0;
    width: 100%;
    background: #fff;
}
.conteudo-sec.mid .widget .responsabilidade ul.conteudos li:hover .info{
    transform: translateY(-12px);
}
.widget_categories ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0 0 0;
}
.widget_categories ul li {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #959799;
    float: left;
    text-transform: uppercase;
    padding: 3px 0 3px 0px;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.widget_categories ul li:hover{
    background: #2A437A;
}

.navigation ul li a{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #959799;
    float: left;
    text-transform: uppercase;
    padding: 3px 0 3px 0px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.ajax-load-more-wrap.blue .alm-load-more-btn.done, .ajax-load-more-wrap.blue .alm-load-more-btn.loading,
.navigation ul li a:hover{
    background: #2A437A;
}

.alm-btn-wrap button.alm-load-more-btn.more {
    background: #2A437A;
    border-radius: 0 !important;
    height: 55px;
    padding: 0 30px;
    text-transform: uppercase;
    border: 1px solid #2A437A;
    font-size: 18px;
}
.alm-btn-wrap button.alm-load-more-btn.more.loading,
body.pt-br .alm-btn-wrap button.alm-load-more-btn.more{
    font-size: 0;
}
body.pt-br .alm-btn-wrap button.alm-load-more-btn.more:not(.loading):before{
    content: 'Carregar Mais';
    font-size: 18px;
}
.alm-btn-wrap button.alm-load-more-btn.more:hover{
    background: transparent;
    color: #2A437A;
}
.title-top.conteudo-sec + section.conteudo-sec.mid {
    padding-top: 60px;
}
.navigation {
    float: left;
    width: 100%;
    margin: 60px 0 0 0;
}
.navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navigation ul li{
    margin-right: 10px;
}
section.conteudo-sec.mid {
    padding-bottom: 60px;
}
/*
.conteudo-sec.mid.single-content .col-lg-8{
    padding-right: 55px;
}*/
.post-thumbnail {
    display: flex;
    width: 100%;
    margin: 0 0 24px;
}
.post-thumbnail img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.conteudo-sec.mid.single-content h1{
    font-size: 47px;
    line-height: 117.9%;
    letter-spacing: -0.04em;
    width: 100%;
    margin: 0 0 32px;
}
.conteudo-sec.mid.single-content .meta{
    display: block;
    width: 100%;
    float: left;
    margin: 0 0 40px;
}
.conteudo-sec.mid.single-content .meta ul{
    list-style: none;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 0 20px 0 0;
    float: left;
    background:  #2A437A;
    padding: 2px 0;
    text-transform: uppercase;
    width: auto;
}
.conteudo-sec.mid.single-content .meta span{
    float: left;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #6E7379;
    padding: 2px 0;
}
.conteudo-sec.mid.single-content .content{
    font-size: 18px;
    line-height: 140%;
    color: #111111;
    float: left;
    width: 100%;
    margin-bottom: 60px;
}
.conteudo-sec.mid.single-content .content figure,
.conteudo-sec.mid.single-content .content img{
    max-width: 100%;
    height: auto;
}
.conteudo-sec.mid.single-content .content h2 {
    font-size: 28px;
    margin: 40px 0 15px;
}
.conteudo-sec.mid.single-content .content figure{
    margin: 60px 0 20px;
}
.conteudo-sec.mid.single-content .content figure figcaption{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #6E7379;
}

.conteudo-sec.mid .relacionadas ul.conteudos li .info h3:after {
    display: none;
}
.conteudo-sec.mid .relacionadas ul.conteudos li .info h3 {
    text-transform: none;
    white-space: inherit;
}

.video-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 999999999;
    display: none;
    opacity: 0;
    /* Firefox */
    -moz-transition: all .6s ease;
    /* WebKit */
    -webkit-transition: all .6s ease;
    /* Opera */
    -o-transition: all .6s ease;
    /* Standard */
    transition: all .6s ease;
}
.video-popup.active{
    display: block;
}
.video-popup.active.show{
    opacity: 1;
}
.video-popup .pop-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  max-width: 1000px;

}
.video-popup .pop-cont button.close{
    position: absolute;
    right: -40px;
    top: -40px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 0;
}
.video-popup .pop-cont button.close:before,
.video-popup .pop-cont button.close:after{
    content: '';
    width: 40px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
}
.video-popup .pop-cont button.close:after{
    transform: rotate(-45deg);

}

.video-popup .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-popup .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



section.conteudo-sec form.search-form {
    width: calc(100% - 50px);
    margin-left: 50px;
}
div#page {
    overflow: hidden;
}
section#conteudo4 {
    overflow: hidden;
}
footer .top .container {
    display: flex;
    }
@media(max-width: 1600px){
    .vc_section > .vc_row,
    .container{
        max-width: calc(100% - 30px) !important;
    }
    h1 {
        font-size: 76px;
    }
    h2 {
        font-size: 34px;
    }
    ul.blog-list li {
        margin: 0 0 28px;
    }
    #home .wrapbtn {
        margin-top: 225px;
    }
    ul.conteudos li{
        margin-bottom: 80px;
    }
    body.home section.vc_section#conteudo4 .file {
        width: 800px;
        height: 450px;
    }
    footer .blue-bg .wpcf7 {
        width: calc(100% - 30px);
        margin: 50px 0 0 30px;
    }
    .wpcf7 form span.wpcf7-form-control-wrap.assunto, .wpcf7 form span.wpcf7-form-control-wrap.posicao, .wpcf7 form span.wpcf7-form-control-wrap select, .wpcf7 form span.wpcf7-form-control-wrap textarea, .wpcf7 form span.wpcf7-form-control-wrap input{
        font-size: 16px;
        line-height: 18px;
        height: 50px;
    }
    .wpcf7 form input.wpcf7-form-control.wpcf7-submit {
        height: 50px;
        width: 140px;
        font-size: 16px;
    }
    footer .wpcf7 form > p span.wpcf7-form-control-wrap {
        width: calc(100% - 140px);
    }
    .display-md-none{
        display: none;
    }
    section.single-area-section .bg-top h1 {
        margin-bottom: -13px;
    }
    section.single-area-section .bg-top{
        min-height: 420px;
    }
    section.single-area-section .resumo {
        padding: 20px 40px 27px 0;
        font-size: 21px;
    }
    section.single-area-section .info {
        padding: 30px 20px 100px 0;
    }
    section.single-area-section .bg-blue {
        padding: 30px 25px;
    }
    section.single-area-section .bg-blue ul li {
        font-size: 18px;
        margin: 0 0 20px;
    }
    .conteudo-sec.mid.single-content, .title-top.conteudo-sec{
        padding-top: 50px;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li{
        width: calc(33% - 10px);
        margin-right: 0;
        margin-bottom: 30px;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child {
        width: calc(67% - 20px);
        margin-right: 30px;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:nth-child(4),
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:nth-child(5){
        width: calc(50% - 15px);
        margin-right: 30px;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:nth-child(5){
        margin-right: 0;
    }

    .conteudo-sec.mid ul.conteudos li .info ,
    .conteudo-sec.mid ul.conteudos li .sqimg {
        width: 100%;
        margin-left: 0;
    }

}
@media(max-width: 1279px){
    
    .display-md-absolute{
        position: absolute;
        left: 0;
    }
}

@media(max-width: 1199px){
    .vc_section > .vc_row,
    .container{
        max-width: calc(100% - 30px) !important;
    }
    h1 {
        font-size: 62px;
    }
    h2 {
        font-size: 28px;
    }
    header nav.main-navigation ul li a{
        width: 170px;
    }
    /*
    body.home .anima-back > * {
        transform: scale(.8) !important;
    }
    body.home .anima-back .sq{
        transform: scale(.8) translate(-65%, -65%) !important;

    }
    body.home .anima-back .ltop, body.home .anima-back .lbottom{
        transform: scale(.8) translateX(-65%) !important;

    }
    body.home .anima-back .hortop{
        transform: scale(.8) translateY(-65%) !important;
    }

    /*
    body.home .anima-back{
        min-height: 700px;
    }
    body.home .anima-back .sq {
        height: 476px;
        width: 476px;
    }
    body.home .anima-back .ltop, body.home .anima-back .lbottom{
        width: 952px;
    }
    body.home .anima-back .ltop span:nth-child(2){
        right: 95.2px;
    }
    body.home .anima-back .ltop span:nth-child(3) {
        right: 332.5px;
    }
    body.home .anima-back .lbottom span:nth-child(2){
        left: 380.8px;
    }
    body.home .anima-back .lbottom span:nth-child(3) {
        left: 476px;
    }
    body.home .anima-back .hortop{
        height: 571px;
    }
    body.home .anima-back .hortop span:nth-child(2){
        top: 238px;
    }
    body.home .anima-back .map{
        min-height: 875px;   
        width: 70%;
        left: 15%;
        height: 70vh;
        top: 7.3%;
    }
    body.home .anima-back .map .img {
        width: 953.4px;
        height: 875px;
    }
    body.home .anima-back.leave {
        min-height: 700px;
        overflow: visible;
    }*/






    #home .wrapbtn {
        margin-top: 160px;
    }
    body.home section.vc_section#conteudo4 .file {
        width: 700px;
        height: 450px;
        right: -45vw;
    }
    ul.conteudos li {
        margin-bottom: 40px;
        margin-left: 10%;
        width: 90%;
        padding-bottom: 40px;
    }
    ul.conteudos li .info {
        width: 90%;
    }
    footer .row{
        flex-flow: wrap;
    }
    footer .row > *:nth-child(1), footer .row > *:nth-child(2), footer .row > *:nth-child(3) {
        width: auto;
    }
    footer .row > *:nth-child(4){
        width: 100%;
        margin-top: 30px;
    }
    footer ul.redes_sociais {
        flex-flow: row;
    }
    footer ul.redes_sociais span{
        display: none;
    }
    footer ul.redes_sociais li{
        margin: 0 15px 0 0;
    }
    footer ul.redes_sociais li svg *{
        fill: #2A437A;
    }
    footer .wpcf7 form > p span.wpcf7-form-control-wrap {
        width: 100%;
    }
    footer .wpcf7 form > p {
        justify-content: flex-end;
        position: relative;
    }
    footer .wpcf7 form > p span.ajax-loader {
        position: absolute;
    }
    footer .copy{
        font-size: 12px;
    }
    .responsabilidade ul.conteudos li{
        width: 100%;
        margin-right: 0;
    }
    section.single-area-section .bg-top h1 {
        margin-bottom: -10px;
    }
    section.conteudo-sec.mid > * > .col-md-4 {
        width: 40%;
    }
    section.conteudo-sec.mid > * > .col-md-8 {
        width: 60%;
    }
    aside#secondary {
        padding-left: 20px;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li{
        width: calc(50% - 15px);
        margin-right: 30px;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child{
        width: 100%;
        margin-right: 0;
    }

    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:nth-child(3){
        margin-right: 0;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child a.img {
        padding-top: 60%;
    }
    section.conteudo-sec form.search-form {
        width: calc(100% - 75px);
        margin-left: 20px;
    }
    section#contato > * > .col-lg-5.col-md-5,
    section#contato > * > .col-lg-3.col-md-3 {
        width: 50%;
    }
    body.home .anima-back {
        transform: scale(.7);
        max-width: 160vw;
        height: 160%;
        top: -30%;
        visibility: visible;
        width: 160%;
        left: -30%;
    }
    body.home .anima-back .map{
        height: 160vh;
        transform: translateY(9.5%);
    }
    body.home .anima-back .tr_right.t5 {
        left: 160vh;
        top: 160vh;
    }
    body.home .anima-back .tr_left{
        transform: translateY(15%);
    }
    body.home .anima-back .tr_right {
        transform: translateY(15%);
    }
    body.home section.vc_section#conteudo3 > .container > *:nth-child(1) {
        width: 80%;
    }

}
#jeito3 .bg.mobile{
    display: none;
}
header .menu-mobile {
    display: none;
}

.back-mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
    display: none;
}
.btnmd{
        background: #2A437A;
    border-radius: 0 !important;
    height: 55px;
    padding: 0 30px;
    text-transform: uppercase;
    border: 1px solid #2A437A;
    display: inline-block;
    color: #fff;
    line-height: 55px;
    border: 0;
}
@media(max-width: 991px){





    header nav.main-navigation ul{
        font-size: 12px;
    }
    header nav.main-navigation ul li a {
        width: 120px;
        padding: 45px 10px 12px;
        height: 80px;
        line-height: 1.2;
        align-items: flex-end;
    }
    header.scroll nav.main-navigation ul li a {
        height: 44px;
        padding-bottom: 8px;
    }
    header.scroll .right {
        top: -75px;
    }
    header .right{
        min-height: 285px;
    }
    header .right ul.menu{
        margin: 20px 0 25px;
        padding: 0;
        height: 40px;
        line-height: 40px;
    }
    header.header_wt .right,
    header .right {
        width: 40px;
        right: -40px;
    }
    header.header_wt,
    header {
        width: calc(100% - 40px);
    }
    #home .wrapbtn {
        margin-top: 60px;
    }
    #home .container {
        margin-top: 0px !important;
    }
    .rellax{
        transform: translate3d(0px, 0px, 0px) !important;
    }
    ul.blog-list {
        margin-top: 40px;
    }
    .full.space{
    }
    body.home section.vc_section#conteudo3 > .container > *{
        height: auto;
    }
    section#conteudo4 .scrollmagic-pin-spacer {
        padding: 0 !important;
    }
    body.home section.vc_section#conteudo3 > .container > .col-lg-4.col-md-4.col-sm-6.rellax:last-child {
        height: calc(50vh - 158px);
        display: flex;
        justify-content: flex-end;
    }

    body.home section.vc_section#conteudo4 {
        padding-top: 280px !important;
    }
    div#pin5 {
        width: 80% !important;
        margin: 0 0 80px !important;
        position: static !important;
    }
    body.home section.vc_section#conteudo4 .file {
        width: 500px;
        height: 450px;
        right: -40vw;
    }
    footer .top .container {
        flex-flow: column-reverse;
        max-width: 100% !important;
    }
    footer .top .container > *{
        padding: 0;
    }
    footer .wpcf7 form > p{
        justify-content: space-between;
    }
    footer .wpcf7 form > p span.wpcf7-form-control-wrap {
        width: calc(100% - 140px);
    }
    footer .top .container > *:first-child{
        padding: 30px 30px 0;
    }
    footer .blue-bg{
        padding: 45px 0;
    }
    #jeito1 {
        background-position: 65% 50%;
    }
    #jeito1 .sq {
        margin: 120px 0 0 -20px;
        width: 240px;
        height: 240px;
    }
    #jeito3 .bg.mobile{
        display: block;
    }
    #jeito3 .bg.desktop{
        display: none;
    }
    ul.tec li:nth-child(1) {
        left: calc(8% + 15px) !important;
        top: 15.2% !important;
    }
    ul.tec li:nth-child(2) {
        left: calc(62% + 15px) !important;
        top: 8.6% !important;
    }
    ul.tec li:nth-child(3){
        left: calc(41.5% + 15px) !important;
        top: 20.6% !important;
    }
    ul.tec li:nth-child(4) {
        left: calc(18% + 15px) !important;
        top: 50.2% !important;
    }
    ul.tec li:nth-child(5) {
        left: calc(56% + 15px) !important;
        top: 37.7% !important;
    }
    ul.tec li:nth-child(6) {
        left: calc(68% + 15px) !important;
        top: 51% !important;
    }
    ul.tec li:nth-child(7) {
        left: calc(33.5% + 15px) !important;
        top: 60% !important;
    }
    ul.tec li:nth-child(8) {
        left: calc(53% + 15px) !important;
        top: 68.6% !important;
    }
    ul.tec li:nth-child(9) {
        left: calc(31.5% + 15px) !important;
        top: 79.2% !important;
    }
    .post-type-archive-area .scrollmagic-pin-spacer,
    #jeito5 .scrollmagic-pin-spacer {
        padding: 0 !important;
    }

    .post-type-archive-area .scrollmagic-pin-spacer > *,
    div#pinj5{
        position: static !important;
    }
    .responsabilidade.r1 {
        margin-top: 60px;
        margin-bottom: 60px !important;
    }
    .responsabilidade ul.conteudos li {
        width: calc(50% - 10px);
    }
    body.post-type-archive-area .vc_section {
        padding: 120px 0 100px !important;
    }
    body.post-type-archive-area h1{
        margin-bottom: 30px;
    }
    section.single-area-section .bg-blue{
        display: none;
    }
    section.single-area-section {
        padding: 0 !important;
        margin-top: 78px !important;
    }
    section.single-area-section .bg-top {
        width: calc(100% + 60px);
        margin-left: -30px;
        padding: 0 20px;
        min-height: 300px;
    }
    section.single-area-section .resumo {
        width: calc(100% + 60px);
        margin: 0 -30px;
        padding: 40px 20px;
    }
    section.single-area-section .info {
        padding: 30px 0 60px;
    }
    section.conteudo-sec.mid > * > .col-md-8{
        width: 100%;
        float: left;
    }
    section.conteudo-sec.mid > * > .col-md-4{
        width: 100%;
        margin-top: 100px;
        float: left;
    }
    section.conteudo-sec form.search-form {
        width: calc(100% - 0px);
        margin-left: 15px;
    }
    .conteudo-sec.mid.single-content, .title-top.conteudo-sec {
        padding-top: 25px;
    }
    aside#secondary{
        padding-left: 0;
    }
    .conteudo-sec.mid.single-content, .title-top.conteudo-sec {
        padding-top: 0;
    }
    .conteudo-sec.mid.single-content form.search-form {
        margin-left: 0;
        margin-bottom: 35px;
    }
    section#contato > * > .col-lg-5.col-md-5 {
        width: 70%;
        margin-top: 40px;
    }
    #jeito4 ul.valores{
        margin-top: 32px;
    }

    section.conteudo-sec.ttl-search-form form.search-form {
        margin-left: 0;
        width: calc(100% - 30px);
        margin-top: 24px;
    }
    section.conteudo-sec.ttl-search-form h1{
        width: 35%;
    }
    .back-mobile{
        display: flex;
    }

}
@media (max-width: 767px) {
    .vc_section > .vc_row, .container {
        max-width: 100% !important;
    }
    header .menu-mobile {
        display: none;
    }

    body.home .anima-back {
        transform: scale(.5);
        max-width: 200vw;
        height: 200%;
        top: -50%;
        visibility: visible;
        width: 200%;
        left: -50%;
    }
    body.home .anima-back .map{
        height: 200vh;
        transform: translateY(0%);
    }
    body.home .anima-back .tr_right.t5 {
        left: 200vh;
        top: 200vh;
    }
    body.home .anima-back .tr_left{
        transform: translateY(0%);
    }
    body.home .anima-back .tr_right {
        transform: translateY(0%);
    }
    header .branding img, header .branding svg {
        height: 50px;
        width: 116px;
    }
    header.header_wt, header {
        width: 100%;
        padding: 15px 20px;
        height: 81px;
        padding: 0;
    }
    header.header_wt .right, 
    header .right {
        width: 100%;
        right: auto;
        border:0;
        background:transparent !important;
    }
    header .right{
        display: flex;
    }
    header nav.main-navigation.desktop .menu-principal-container,
    header .right.desktop{
        display: none !important;
    }
    header nav.main-navigation.toggled + .right{
        transform: translateX(0%);
    }
    header .right ul.menu#menu-idioma {
        margin: 0 0 0 20px;
    }
    header .right ul.redes_sociais li a {
        padding: 12px 9px 6px 9px;
        float: left;
    }
    header .right {
        min-height: auto;
        top: auto;
        padding: 15px 40px 40px;
        height: 98px;
    }
    header .right:after{
        content: '';
        position: absolute;
        top: 0;
        left: 40px;
        right: 40px;
        height: 1px;    
        background: #fff;
    }
    header nav.main-navigation .menu-toggle {
        width: 32px;
        height: 32px;
        background: transparent;
        border: 0;
        border-radius: 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    header nav.main-navigation .menu-toggle:before,
    header nav.main-navigation .menu-toggle:after,
    header nav.main-navigation .menu-toggle i{
        content: '';
        width: 32px;
        height: 1px;
        background: #2A437A;
        float: left;
        -moz-transition: all .6s ease;
        -webkit-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
    }
    header.header_wt nav.main-navigation .menu-toggle:before,
    header.header_wt nav.main-navigation .menu-toggle:after,
    header.header_wt nav.main-navigation .menu-toggle i{
        background: #fff;
    }


    header nav.main-navigation .menu-toggle i{
        margin: 8px 0;
    }
    header .right ul.redes_sociais li{
        margin-bottom: 0;
    }

    header .right ul.redes_sociais{
        flex-flow: wrap;
    }
    header .right ul.redes_sociais svg *{
        fill: #fff;
    }
    header .right ul.menu {
        transform: rotate(0);
        color: #fff;
    }
    header .right {
        flex-flow: row-reverse;
        align-items: center;
        position: relative;
        width: 100%;
        float: left;
    }


    h1 {
        font-size: 35px;
    }
    header nav.main-navigation ul {
        font-size: 30px;
		flex-flow: column;
		width: 100%;
        display: flex;

        top: auto;
        bottom: auto;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 20px;
    }
    header nav.main-navigation ul li {
        width: 100%;
    }
    header nav.main-navigation ul li a {
        color: #fff;
        width: 100%;
        text-align: right;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 12px 40px !important;
        float: left;
        border: 0;
        height: auto !important;
    }
    header nav.main-navigation.toggled .menu-toggle i{
        opacity: 0;
    }
    header nav.main-navigation.toggled .menu-toggle:before{
        transform: rotate(45deg) translate(6px, 6px);
    }
    header nav.main-navigation.toggled .menu-toggle:after{
        transform: rotate(-45deg) translate(6px, -6px);
    }
    header.scroll .branding{
        margin: 0;
    }
    header.scroll {
        height: 65px;
    }
    header.scroll .right{
        top: auto;
    }
    header.scroll .top-header-sec{
        padding: 7px 20px;

    }
    header .top-header-sec{
        position: fixed;
        top: 0;
        z-index: 2;
        padding: 15px 20px;
        background: #fff;
    }
    header.header_wt section.top-header-sec {
        background: transparent;
    }
    header .menu-mobile {
        display: block;
        width: 100%;
        position: fixed;
        right: 0;
        left: 0;
        top: auto;
        bottom: 0;
        height: 100vh;
        overflow: hidden;
        transform: translateX(-100%);
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        z-index: 1;
        background: #2A437A;
        display: flex;
        flex-flow: column-reverse;
    }
    header .menu-mobile.open{
        transform: translateX(0%);

    }
    body.home .txt {
        width: 100%;
    }
    .full.space3,
    .full.space {
        height: 0px;
    }
    body.home section.vc_section#conteudo3 > .container > .col-lg-4.col-md-4.col-sm-6.rellax:last-child {
        padding-left: 25%;
    }
    body.home section.vc_section#conteudo4 {
        padding-top: 85px !important;
    }
    #conteudo4 .btn_large, #conteudo3 .btn_large {
        margin: 32px 0 0 0;
    }
    body.home section.vc_section#conteudo4 .file {
        width: 380px;
        height: 250px;
        top: auto;
        bottom: -85%;
        right: -28vw;
    }

    section.single-area-section .bg-top,
    section.single-area-section .resumo ,
    body.home ul.conteudos {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }

    footer .row > *:nth-child(1), footer .row > *:nth-child(2), footer .row > *:nth-child(3){
        width: 100%;
    }
    footer .row > *:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }
    footer .row > *:nth-child(3){
        margin-top: 30px;
    }
    footer .mtop .col-lg-4.col-md-3 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .video-popup .pop-cont button.close:before, .video-popup .pop-cont button.close:after{
        width: 30px;
    }
    .video-popup .pop-cont button.close{
        right: 0;
        width: 30px;
        height: 30px;
    }
    body.single-area header nav.main-navigation ul li.menu-item-209 a, header nav.main-navigation ul li.current-menu-item a, header nav.main-navigation ul li.current_page_item a {
        border: 0;
    }
    #jeito1 .txt{
        width: 100%;
    }
    #jeito1 > * > .col-md-6:nth-child(1) {
        width: 70%;
        float: left;
    }

    #jeito1 > * > .col-md-6:nth-child(2) {
        width: 30%;
        float: left;
    }
    #jeito1 .txt {
        margin-top: 20px;
    }
    #jeito1 h1 {
        width: 130%;
    }
    #jeito5 .btn_large, #jeito4 .btn_large, #jeito1 .btn_large{
        margin-top: 32px;
    }
    #jeito4 {
        padding: 0 0 140px 0 !important;
    }
    #jeito4 ul.valores {
        font-size: 22px;
        margin-top: 20px;
    }
    #jeito4 ul.valores li {
        padding: 20px 0;
    }
    ul.tec li:nth-child(3) .pop,
    ul.tec li:nth-child(5) .pop,
    ul.tec li:nth-child(6) .pop,
    ul.tec li:nth-child(8) .pop,
    ul.tec li:nth-child(2) .pop{
        transform: translateX(-60%);
    }
    #jeito5 .txt{
        width: 100%;
    }
    .responsabilidade ul.conteudos li{
        width: 100%;
    }
    footer .top .container > *:first-child {
        padding: 30px 20px 0;
    }
    body.post-type-archive-area .vc_section ul.areas li a,
    body{
        font-size: 16px;
    }
    body.post-type-archive-area .vc_section ul.areas li a {
        padding: 4px 0px;
    }
    section.single-area-section .bg-top {
        min-height: 200px !important;
    }
    section.single-area-section .bg-top h1 {
        margin-bottom: -6px;
    }
    section.single-area-section .bg-top h1 {
        margin-bottom: -5px;
        width: 100%;
    }
    section.single-area-section .info,
    section.single-area-section .resumo {
        font-size: 16px;
    }
    section.single-area-section ul.bts li {
        margin-right: 0;
        max-width: calc(33.3333333333333% - 10px);
    }
    section.single-area-section ul.bts li:last-child{
        margin-right: 0;
    }
    section.single-area-section ul.bts{
        justify-content: space-between;
    }
    section.single-area-section ul.bts li a{
        max-width: 100%;
    }
    .btn_large:hover {
        width: 110px;
        padding: 70px 0 4px 3px;
        opacity: 1;
        transform: translateY(-12px);
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child a.img {
        padding-top: 100%;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child a.info {
        position: static;
        width: 100%;
    }
    .conteudo-sec.mid.single-content h1,
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child a.info h3{
        font-size: 35px;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:nth-child(4), .destaque.conteudo-sec .responsabilidade ul.conteudos > li:nth-child(5),
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .destaque.conteudo-sec .responsabilidade ul.conteudos > li:first-child:hover a.info {
        transform: translateY(-8px);
    }
    .conteudo-sec.mid.single-content form.search-form{
        margin-bottom: 20px;
    }
    .conteudo-sec.mid.single-content .content{
        font-size: 16px;
    }
    .page-contato .vc_section {
        padding-top: 120px !important;
        padding-bottom: 50px !important;
    }
    section#contato > .container > * {
        width: 100% !important;
    }
    section#contato > .container > *:nth-child(4),
    section#contato > .container > *:nth-child(5){
        margin-top: 30px;
    }
    section.conteudo-sec.ttl-search-form form.search-form {
        width: 100%;
    }

}
